:root {
  --black: #1f2029;
  --transparent-black: #1f202999;
  --white: #fefefe;
  --transparent-white: #fefefe11;
  --gray: #696a72;
  --yellow: #ffdc64;
}

html {
  background-color: var(--black);
  color: var(--white);
  font-family: sans-serif;
}

body {
  margin: 0 16px;
}
