header {
  display: flex;
  gap: 16px;
  margin-top: 36px;
}

header p {
  margin: 4px 0;
}

#username {
  font-weight: bold;
}

header h1 {
  color: var(--gray);
  margin: 4px 0;
  font-size: 14px;
  font-weight: normal;
}

header img {
  width: 40px;
  height: 40px;
}

#search {
  margin: 36px 0 24px;
}

#search div {
  display: grid;
  grid-template-columns: 1fr 16px;
  column-gap: 8px;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #696a7244;
}

#search img {
  max-width: 16px;
  height: 16px;
}

#search input {
  background-color: transparent;
  border: none;
  color: var(--white);
  outline: none;
  font-size: 16px;
}

#search input::placeholder {
  color: var(--white);
}

#genres {
  margin-top: 16px;
  overflow-x: scroll;
  padding-bottom: 8px;
}

#genres ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 12px;
}

#genres li {
  padding: 4px 8px;
  border: 1px solid var(--gray);
  border-radius: 8px;
  cursor: default;
  flex-shrink: 0;
}

#genres li.active {
  background-color: var(--white);
  color: var(--black);
}

#movies {
  margin-top: 48px;
}

#movies h2 {
  font-weight: normal;
  font-size: 16px;
}

#movies h2 span {
  font-weight: bold;
}

#movies ul {
  list-style: none;
  padding: 8px 0;
  display: flex;
  gap: 16px;
  overflow-x: scroll;
  min-height: 300px;
}

#movies li {
  transition: transform 0.5s ease-in;
}

/* #trending li:hover {
  transform: scale(1.1);
} */

.movie img {
  max-width: 200px;
  max-height: 300px;
}

@media screen and (min-width: 700px) {
  .movie img {
    max-width: 300px;
    max-height: 450px;
  }
}

@media screen and (min-width: 1000px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 64px;
  }

  main {
    grid-column: 1 / span 2;
  }

  #search {
    max-width: 500px;
    justify-self: flex-end;
  }

  #genres {
    max-width: 100vw;
  }

  #genres ul {
    flex-wrap: wrap;
  }

  #movies ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}
