body {
  margin: 0;
}

#return {
  position: fixed;
  top: 32px;
  left: 32px;
  height: 32px;
  z-index: 1;
}

#return img {
  width: auto;
  height: inherit;
}

#movie-poster {
  position: relative;
}

.sheet {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    var(--transparent-black) 2%,
    var(--transparent-white) 25%
  );
}

#movie-poster img {
  max-width: 100vw;
}

#movie-details {
  margin: 16px;
}

.movie-metadata {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.movie-metadata div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.movie-metadata img {
  width: 24px;
  height: 24px;
}

.movie-metadata h1 {
  margin: 0;
}

.movie-metadata p {
  margin: 0;
  color: var(--yellow);
}

#movie-description {
  font-size: 14px;
}

#movie-genres-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 12px;
  overflow-x: scroll;
}

.movie-genre {
  padding: 4px 8px;
  border: 1px solid var(--gray);
  border-radius: 8px;
  flex-shrink: 0;
  cursor: default;
}

#related-movies span {
  font-weight: bold;
}

#related-movies-list {
  list-style: none;
  display: flex;
  gap: 16px;
  padding: 0 0 8px;
  overflow-x: scroll;
}

#related-movies-list img {
  max-width: 200px;
  max-height: 300px;
}

@media screen and (min-width: 500px) and (orientation: portrait) {
  #movie-poster {
    max-height: 450px;
    display: flex;
    justify-content: center;
  }

  #movie-poster img {
    object-fit: contain;
  }

  #related-movies-list img {
    max-width: 100px;
    max-height: 150px;
  }
}

@media screen and (min-width: 500px) and (orientation: landscape) {
  main {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  #movie-details {
    margin: 32px;
  }

  .movie-metadata {
    margin: 32px 0;
  }

  #related-movies {
    margin-top: 64px;
  }

  #related-movies-list img {
    max-width: 100px;
    max-height: 150px;
  }
}
